# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Temporary files
*.swp
*.lock
*~
